<include file="top" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>原油交易</title>
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/thems.css">
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/responsive.css">
</head>


<section class=" animsition cfd_bg" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>原油交易</b></div>
                    <p style="    font-size: 12px;   line-height: 36px;">原油交易是重要的金融交易方式，对于国家的经济发展及个人的财富创造都提供了更多的机会。国内的原油交易市场的起步比国外晚，机构体系都还在进一步的完善中，但这往往意味着广阔的发展空间以及潜力商机。</p>
                    <br><br>
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">油价影响因素</strong>
                                              作为世界流通的最大商品，影响原油走势的最大因素是供求关系，其次才是金钱效应。
供求关系包括供应和需求，供应只要体现在世界大产油国的供应稳定性以，如地缘政治会影响供应，会比较大的影响油价。
需求则体现在世界大经济体对原油的需求，如果美国中国等国的经济数据，特别是工业类的，如果工业类的经济数据不佳，那么直接影响到对原油的需求量。由于WTI原油只要供应美国本土，因此美国的经济数据对其短线波动影响最大，其他国家的经济更多的是一种宏观上的衡量，比如油价持续下跌。
所谓金钱效应就是货币政策，如果货币政策宽松，那么一定程度上也会推高油价，如果货币政策紧缩，市场资金变少，那么会在一定程度上限制油价的涨幅，但是金钱效应的作用要弱于供求关系。

                                          <br>
                                          <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">影响油价的经济数据</strong>
                                        在以下的数据中，影响最直观的是原油库存数据，其他数据更多造成短线波动。
                                    <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">美国非农业就业数据</strong>
                                         非农就业人数变化反映出制造行业和服务行业的发展及其增长，数字减少便代表企业减低生产，经济步入萧条；在没有发生恶性通胀的情况下，如数字大幅增加，显示一个健康的经济状况。

                                         <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">对原油的影响：</strong>
                                         美国实行正常的货币政策时，非农数据差意味着美国经济不佳，对油的需求降低，因此原油会出现下跌，非农数据好意味着美国经济好，对油的需求增加，因此原油价格会出现上涨。
美国实行非正常货币政策时，非农数据差意味着美国会继续宽松货币政策，原油涨，非农好时意味着美国会缩减QE，市场资金减少，原油跌。

                                         <br>
                                    <br>
                                         <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">EIA原油库存（美国能源资料协会）
</strong>
    <br/>                                
                                    
                                              原油库存增加，经济活动变差，油需求降低，原油价格会跌
原油库存减少，经济活动变好，油需求增加，原油价格会涨
API原油库存
										<br> <br>
                                         
                                    <br>
                                    <strong
                                    class="title1style">美国石油协会公布的数据</strong>
                                    
                                                  原油库存表现的是供求关系，库存增加，说明需求减少，油价跌，库存减少说明需求增加，油价涨
											<br> 
                                         <br>
                                    <br>
                                    <strong
                                    class="title1style">美联储议息会议
</strong>
                                    
                                                     美联储议息会议主要显示美联储对货币政策的态度。主要表现为缩减QE的力度。若美联储继续缩减QE，利空原油（油价跌），若美联储停止缩减QE则利好原油（油价涨）。

                                         <br>
                                         
                                         
                                         
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
