<include file="top" />
<section class="dazong_bg animsition" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>大宗商品</b></div><br><br>
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">基本定义</strong>
                                                  在金融投资市场，大宗商品（BulkStock）指同质化、可交易、被广泛作为工业基础原材料的商品，如原油、有色金属、农产品、铁矿石、煤炭等。大宗商品可进入流通领域，但非零售环节，具有商品属性用于工农业生产与消费使用的大批量买卖的物质商品。大宗商品大致上包括3个类别，即能源商品、基础原材料和大宗农产品。<br/>
                                                        大宗商品可以设计为期货、期权作为金融工具来交易，可以更好实现价格发现和规避价格风险。由于大宗商品多是工业基础，处于最上游，因此反映其供需状况的期货及现货价格变动会直接影响到整个经济体系。例如，铜价上涨将提高电子、建筑和电力行业的生产成本，石油价格上涨则会导致化工产品价格上涨并带动其他能源如煤炭和替代能源的价格和供给提升。又比如上世纪七十年代末、八十年代初，能源和原材料价格居高不下，导致世界经济停滞不前，进而引起多种大宗商品价格暴跌。投资者，尤其是投资相关行业的投资者应当密切关注大宗商品的供求和价格变动。<br/>
                                                              大宗商品与股票的价格不是很直接也不是很紧密的，但是间接的还是有关联的。比如石油就决定了很多的行业、如果石油变动，就会影响运输，航空、轮船业、汽车、还有与石油有关的化工等企业受益情况，也就间接地影响了这些有关企业的股票价格。<br/>      近期，大宗商品市场与外汇市场常常由于受到类似的基本面因素影响而呈现出较强的联动性。尤其美元作为世界贸易往来中最重要的货币，因此国际大宗商品的标价一般是由美元作为基准。在统计学上，美元和大宗商品价格存在负相关关系，又有一种自我加强的关系。当预期美元下跌的时候，人们便开始预期商品将要上涨，进而会抛售美元，购买商品；同时，这一过程强化了商品上涨的预期，增加了需求，增大了美元的供给。2007年以来，在美元大幅贬值的过程和预期下，由美元标价的大宗商品遭到国际投机的炒作，国际原油的价格从2007年1月的50多美元一桶，飙升至2008年6月的147美元，同期农产品、黄金等商品期货亦扶摇直上。
                                                              
                                                        
                                          <br>
                                          <br>
                                          在经济全球化、资产证券化、商品金融化和交易网络化的时代背景下，包括传统的实体经济之市场结构和供需、库存、经济周期等因素，以及金融市场之货币流动性、预期和投机等因素都会明显地影响到大宗商品期货市场，驱动大宗商品期货价格变化。
                                    <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">一、市场结构和供需基本面</strong>
                                               在大宗商品期货价格的影响因素中，最基础的影响因素是市场结构因素，亦即，大宗商品期货产业是竞争性的，还是垄断或者寡头占主导地位的市场。一旦商品市场结构形成，商品市场及价格均受其制约。在最近十年中，以石油为例，市场结构上的并没有极其重大的变化，但是石油却经历了极其巨大的价格波动，供需基本面上的确可以找到不少推动油价上涨的因素，包括2003～2008年间非欧佩克产油国产能和产量的下降、新兴经济体需求的上升等，但这一时期供需变化的程度远不能与价格变化的程度相提并论。按照《BP世界能源统计评论》提供的数据，存在供需缺口扩大的事实，供需缺口扩大和油价上涨正相关的证据在2005-2008年间表现得非常明显，但在2005年之前的一段时期内，二者的关系却呈现不稳定性，说明从供需缺口到油价上升的因果联系似乎并非令人信服，而金融属性的增强、金融资本的参与可能是更大的影响因素。
                                         <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">二、经济周期</strong>
                                               世界宏观经济的周期性变动必然对商品价格造成影响。以全球最大经济体美国的周期数据与代表性商品价格指数的关系为例，商品价格的下降并不起始于经济周期由扩张转向收缩期的拐点时期，而是存在明显的滞后期。以最近一轮金融危机为例，NBER判定2007年12月开始美国已进入收缩衰退期，但大多数大宗商品价格和价格指数在随后的时期继续上涨，到2008年6月前后才开始进入下降通道。
                                         <br>
                                    <br>
                                         <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">三、储备货币因素</strong>
                                                    最近十年来的大宗商品价格波动中，值得重视的一个视角是美元的国际储备货币因素对商品价格的影响。由于大多数大宗商品均以美元计价，因此，美元的币值变化会直接影响大宗商品的价格变化。一般而言，美元贬值会对应于大宗商品价格的上涨，反之则大宗商品价格下跌。以同样以美元计价的黄金和石油的价格比率为例，1970年1月到2011年6月，黄金/原油价格比率的历史均值为14.97，其走势围绕均值波动。在最近十年中截至2008年7月，这一比率明显偏离均值，但国际金融危机后迅速回归。尤其是在近期内，这一比率仍在非常接近均值的位置波动，显然并未明显受到美国宽松货币政策的影响。截止8月12日，2011年的美元指数累计下跌6.09%，为2008年7月来新低；而黄金的美元价格则从年初的1300美元/盎司上涨到之前的1900美元/盎司上下，说明考虑美元储备货币因素后，不同商品价格之间仍有明显的互动作用规律。
                                         <br>
                                    <br>
                                    	<img src="/Public/Home/images/icon13.png">
                                    <strong
                                    class="title1style">四、货币流动性</strong>
                                    
                                                        一般而言，货币供给变动将自然地对价格水平，包括大宗商品价格产生明显影响。但大宗商品市场具有明显的特殊性：一方面，大宗商品的生产和供给受到限制，生产者很难在短期内调整产量；另一方面，在大宗商品交易市场上，相比于消费品，大宗商品价格调整更快，也更加灵活，对货币变化的反应也更加迅速。考虑到最近数十年来大宗商品市场金融化趋势的不断加强，大宗商品已成为资产和投资组合的重要组成，因此，货币流动性的变化一定会通过利率、存货和固定资产投资等机制影响商品的供需，进而影响商品市场和价格。我们对中国货币供给量和商品价格的实证研究显示，我国的货币供给量显著提升了商品价格，当然对不同商品的影响程度差异很大。例如，我们研究发现，中国货币供应量上升1%会推动铝现货价格上涨1.80%；贷款额上升1%会使得中国铝现货价格上升0.93%；货币供应量上升1%会推动铜现货价格上涨0.26%。
                                         <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png">
                                    <strong
                                    class="title1style">五、投机因素</strong>
                                    
                                                          由于近年来国际商品价格的巨幅波动，关于投机推高价格、导致价格暴涨暴跌的争论非常激烈。但长期来看，纯投机者对商品价格上涨的推动作用并不明显，也没有显著的证据证明投机是商品价格上涨和大幅波动的推动力。但那些拥有、合谋拥有或者通过关联者拥有商品储存设施或持有存货及加工设施，试图在短期内控制较大市场份额，并通过制造短缺、营造预期而牟利的投机性交易确实能够影响大宗商品价格。这是典型的市场操纵行为。
                                         
                                             <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png">
                                    <strong
                                    class="title1style">六、预期因素</strong>
                                    
                                                                在经济全球化背景下，商品价格信息的形成和传播速度不断加快，公众的价格预期也受此影响不断形成、扩散并在某拐点处逆转，这对商品市场产生非常明显的影响。因此，一方面，投资者单方向价格预期的形成、扩散和强化及可能的逆转会加大商品价格变化和波动幅度；另一方面，预期只是影响价格的中间变量，投资者预期的重要性会驱动某些市场参与者试图通过制造短缺、营造或者误导预期而牟利的市场操纵行为。
                                         <br>
                                         
                                         
                                         
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
