<include file="top" />

<section class="gjs_bg animsition" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>贵金属</b></div>
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">贵金属</strong>
                                          国际黄金市场已经形成一个24小时不间断连续运转的全球化市场，是国际分工不断深化的服务体系，没有特色的孤立市场会被逐步取代。<br>
                                                 目前，全球黄金的定价中心仍然是在欧洲和北美，随着中国经济实力的逐步增强，国内的黄金投资将逐步对世界黄金市场的定价产生影响。其中，以伦敦为中心的国际黄金现货交易影响力最大，是世界黄金交易的最大市场。作为OTC场外交易市场，一度垄断全球80％以上的实物黄金交易。黄金现货，它包括实物全额交易和现货延期交收交易两种方式。需要买入、卖出实物黄金的客户可通过实物交易方式，投资性的客户可通过延期交收交易方式兑现利润。黄金现货这一灵活的交易模式，使黄金现货成为机构和个人投资黄金的绝佳选择，是全球黄金投资的主流模式，也让黄金现货市场成为全球影响力最大、交易规模最大的投资市场之一。黄金是金融市场的主要投资品种，是全球最大的投资市场之一。
                                    <br>
                                          目前，国内投资者的资产多数以股票、房产、保险和现金为主，缺点是这些资产同质性较高，在相同因素的影响下容易导致资产价值出现大幅波动的风险。黄金投资则以其显著的保值避险特点，为更多的投资者青睐，所以，在资产中持有一定量的黄金，对提升资产质量和抗风险能力意义重大。
                                          <br>
                                          <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">黄金投资的价值体现在以下几个方面：</strong>
                                          <br>
                                   1、安全性：当出现严重的通货膨胀、经济危机、战争或自然灾害时，黄金价格一般上涨，因此在资产组合中配置一定量的黄金，可抵御危机造成的资产减值风险。<br>
                                   2、稳定性：相比证券和一般的大宗商品，黄金投资表现出良好的稳定性。从1971年黄金价格市场化以来，黄金的价格处于长期上行趋势之中，迄今涨幅达到40倍，高于同期通货膨胀率和股票指数涨幅。
                                    <br>
                                    3、流动性：无论是认同性、交易连续性还是抵押融资，黄金都比其他投资产品具有更强的变现能力。
                                    <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">黄金投资与其他投资市场的关系：</strong>
                                          <br>
                                    1、黄金与外汇市场关系密切<br/>
                                          尽管黄金已经被非货币化，但依然具有很强的货币属性，尤其与美元在长期价格变化中呈现出负相关的特点。分析和预测外汇走势是分析和预测黄金价格走势的重要依据。
                                    <br/>
                                    2、黄金与证券市场关系<br/>
                                           黄金和证券市场都属于周期性投资，两者之间存在着替代效应。一般当宏观经济周期向好导致证券市场的收益增加时，资金会向证券市场流动；当经济不景气导致证券市场的投资风险加大时，资金为了规避风险买入黄金，导致黄金价格上涨。
                                       <br/>
                                       3、黄金与大宗商品市场关系 <br/>
                                              长期来看，黄金与诸多大宗商品具有正相关性。原油的大幅上涨一般意味着通货膨胀预期增加，推动黄金价格上涨。黄金同其他大宗商品的价格走势也符合这样的规律。   
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
