<include file="top" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$news.title}</title>
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/thems.css">
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/responsive.css">
</head>

<body>
<section class="met-show-class2">
    <div class="item" style="background-image:url(img/1504505640.jpg)">
        <div class="container1"><h2 class="title1 appear-no-repeat animation-slide-bottom" data-repeat="false">公司简介<span
                class="line"></span></h2>

            <div class="desc1 appear-no-repeat animation-slide-bottom" data-repeat="false">PRCBroker Group集团（下简称：PRC集团）是一家为个人客户及机构客户提供外汇，黄金，原油等大宗商品交易服务的环球交易商。

			</div>
			<div class="desc1 appear-no-repeat animation-slide-bottom" data-repeat="false">
           PRC设立于塞浦路斯，主要经营部门在欧洲，业务框架扩展到整个欧洲和亚洲，在日本设有专门的亚洲地区服务部门,在中国沈阳，上海等地均有办事处，同时韩国首尔也新增了办事处。
            <img src="/Public/Home/picture/Jg04.jpg" style="width: 100% ; top:0; left:0" alt="">
            <p style="text-align:center">（PRCBroker的监管执照）</p>
            PRC集团一直秉承安全，公平，公正的经营理念，认为个人客户与机构客户一样宝贵。PRC采用最高标准的服务，最新的商务形式和革新技术，对既有模式进行创新和变更，向客户提供完全电子化交易环境。包括保证金交易、资产管理、 高频交易和智能交易、并提供卓越的交易功能、充分的市场研究、深度流动供应、快速交易能力和良好的IT可扩展性、以及极低的交易成本，为所有客户提供业内最为透明安全公平公正的交易环境。<br/>

2017年12月份由PRCBroker赞助的韩剧《jugglers》在韩国KBS电视台播出，收视率一路飙升，荣获同时段节目收视冠军。PRC在高效服务好客户的同时，也将在更多的领域大显身手。
			</div>
            <img src="/Public/Home/picture/pic18.jpg" style="width: 100%" alt="">
<img src="/Public/Home/picture/pic15.jpg" style="width: 100%" alt="">
<img src="/Public/Home/picture/pic16.jpg" style="width: 100%" alt="">
<img src="/Public/Home/picture/pic17.jpg" style="width: 100%" alt="">

<img src="/Public/Home/picture/pic19.jpg" style="width: 100%" alt="">
        </div>
    </div>
  
    
</section>
</body>
</html>
