<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="css/thems.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<section class="jjfa animsition" style="background: url(/Public/Home/images/timg11.jpg) no-repeat;    background-size: 100%;
    background-attachment: fixed;">
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>解决方案</b></div>
                    
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                <img src="images/icon13.png"><strong
                                    class="title1style">API应用程序接口（网关集成）</strong><br> 
我们为合作伙伴提供国际上通行的FIX 应用程序接口API，网关授权合作伙伴自由访问市场数据，并且可以实现跨平台下单。FIX的协议规范可以对有需求的客户开发，API高度集成，提供账户管理，订单查询，实时行情和实时交易等功能。可以通过API连接MT4 Server，对于各种个性化开发需求，我们提供全方位的技术支持，例如在网站上展示自己平台的实时行情，网页和手机端实现自动跟单功能，等专业化交易团队的需求。

                                   <br/>
                                   <br/>
                                                                   <img src="images/icon13.png"><strong
                                    class="title1style">IB 智能管理后台</strong><br> 
经纪商可以拥有独立的智能管理后台，可以随时了解自己客户的开户进程，出入金状况，交易量，持仓量，返佣数量等信息。信息的管理和跟踪更加透明详尽。具有丰富的账户报表统计功能，接口连接状态可视化监控报警，声音报警功能。支持内外部多层次的角色权限设置，灵活强大的任务管理和绩效考核支持，支持深入分析主要销售指标，使每位员工在服务现有客户的同时，有更多精力开发新的客户。

                                   <br/>
                                   <br/>
                                                                                                      <img src="images/icon13.png"><strong
                                    class="title1style">VPS虚拟专用服务器</strong><br> 
VPS（Virtual Private Server 虚拟专用服务器）技术，是将物理服务器分割成多个虚拟专享服务器的优质服务。我们在虚拟机中每个VPS都可分配独立IP地址、独立操作系统、实现不同VPS间磁盘空间、内存、CPU资源、进程和系统配置的隔离，为用户和应用程序模拟出“独占”使用计算资源的体验。VPS可以像独立服务器一样，重装操作系统，安装程序，单独重启服务器。1天24小时，1周7天不间断服务。可以用于运行自动化交易程序，快速处理订单。

                                   <br/>
                                   <br/>
                                    
                                           
                                        
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
