<include file="top" />

<section class="wh_bg animsition" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>外汇市场</b></div>
                    <section class="met-show-class1" style="padding:0;">
                        <video src="/video/video.mp4"  poster="/Public/images/videoimg.jpg" type="video/x-ms-asf-plugin" width="100%" autoplay="autoplay" controls="controls" ></video></section>
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>

                                <p class="desc1main">
                                    <img src="/Public/Home/images/icon13.png"><strong
                                        class="title1style">外汇市场 秒懂版介绍视频</strong>
                                    国际外汇市场是一个24小时全天候运行的全球一体化的市场，参与者主要有：中央银行、外汇银行、经纪商、客户；主要是进行本币与外币之间、不同币种的外汇之间的买卖。
                                    外汇市场是全球金融市场都在进行的交易领域，伦敦市场、纽约市场、东京市场、银行和交易商手中进行外汇的购买，而银行和交易商则会向更高一层的市场进行外汇购买，然后到达银行间市场，这里的主要区分在于零售市场和银行间市场。
                                    外汇市场主要以地域和世界各金融中心为划分，现代国际外汇市场一般分布于世界各国主要中心城市，如伦敦、纽约、巴黎、法兰克福、苏黎世、惠灵顿、东京、新加坡、香港等全球著名的金融中心和外汇中心，这些中心的相互联系和影响形成了覆盖全球的外汇网络，其中伦敦、纽约、巴黎、东京、法兰克福、瑞士、新加坡、香港、日本等外汇中心是最具代表性的。
                                    <br>
                                    <br>

                                </p>

                            </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
