<include file="top" />

<section class="xsrm_bg animsition">
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>新手入门</b></div>
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">外汇定义</strong>
                                                         外汇主要是指外国货币，同时还包括以外国货币表示的用以进行国际结算的支付手段。结算衍生出来的比率就叫汇率。国际货币基金组织对外汇的定义是：外汇是货币行政当局（中央银行、货币机构、外汇平准基金组织及财政部）以银行存款、财政部库券、长短期政府证券等形式所保有的在国际收支逆差时可以使用的债权。中国国家外汇管理局的定义，外汇是指下列以外币表示的可以用作国际清偿的支付手段和资产。
                                                              
                                                        
                                          <br>
                                       
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">外汇市场</strong>
                                                      是一个分散于全球各地用于交易货币的金融市场。除星期六、星期天和交易中心所在国家的重大节日外，世界各地的金融中心按所处位置轮流运转，使外汇市场能24小时不间断的买卖各种货币。按交易契约种类，有即期、掉期、也有远期合约等市场存在。外汇市场决定不同货币之间的汇率。不同以往，外汇市场不仅是一个外币兑换的概念，目前许多交易者应用外汇交易为理财工具。巨大的交易量表明外汇市场属于世界上资产最多的类别，也使其成为世界上流动性最好的市场。其是由银行等金融机构，自营交易商，大型跨国企业参与的，通过中介机构或电讯系统联结的，以各种货币为买卖对象的交易市场。同时它是一个不间断的市场。主要有伦敦、纽约、东京、新加坡、香港、惠灵顿、悉尼等市场，这些市场使得整个外汇交易从星期一的上午9：00到星期六的上午5：00 为止可以24 小时交易。从外汇交易的主体来看，外汇市场主要由各国的中央银行、投行证券公司、外汇交易商、实际供应者和实际需求者（例如：进出口商、跨国公司等）和个人外汇投资者构成。
                                         <br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">外汇交易</strong>
                                                       外汇交易，也称为"FOREX"或"FX"。在一笔外汇交易中，交易者在买入一种货币的同时也卖出另一种货币，即用卖出的货币换来买入的货币。外汇交易市场是一个场外市场。外汇交易以货币对的形式进行，比如欧元对美元 (EURUSD)，或美元对日元(USDJPY)。和股票或期货不同，外汇交易不存在交易中心。所有的外汇交易通过电话或电子网络进行。主要的外汇交易没有统一或集中的清算中心，而且极少有跨境监管。因为其场外市场的性质，外汇市场由一些相互关联的交易市场组成。这也意味着不存在一个单一的汇率，具体的汇率取决于其所交易的银行、做市商和交易地点。不过实际上汇率通常是非常接近的，否则的话瞬间的套利将抹平这种差价。
                                         <br>
                                    <br>
                                         <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">外汇保证金交易</strong>
                                                           外汇保证金交易，是指通过开立信托投资帐户，存入一笔资金做为担保金，由银行或经纪公司设定信用操作额度，它充分利用了杠杆投资的原理。投资者可在额度内自由买卖同等价值的即期外汇，操作所造成之损益，自动从上述投资账户内扣除或存入。让小额投资者可以利用较小的资金，获得较大的交易额度，和全球资本一样享有运用外汇交易作为规避风险之用，并在汇率变动中创造利润机会。综合的说，炒外汇就是一个投资理财的行为。
                                         <br>
                                    <br>
                                    	
                                         
                                         
                                         
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
