<include file="top" />
<section class="xxzl_bg animsition" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>学习资源</b></div>
                    
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">学习资源</strong>
                                    开设外汇保证金交易账户以及入金之后，通常就可以开始交易了，但是在选择买卖时点时通常会依据两种分析，两种主要分析方法通常会被称为基本面分析和技术分析。基本面分析注重金融，经济理论和政局发展，从而判断供给和需求要素。技术分析观察价格和交易量数据，从而判断这些数据在未来的走势。基本面分析与技术分析最明显的一点区别就是， 基本面分析研究市场运动的原因， 而技术分析研究市场运动的效果 。<br>
                                    <br>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">基本面分析</strong>
                                            基本面分析包括对宏观经济指标、资产市场以及政治因素的研究。宏观经济指标包括经济增长率等数字，由国内生产总值、利息率、通货膨胀率、失业率、货币供应量、外汇储备以及生产率等要素计算而得。资产市场包括股票、债券及房地产。政治因素会影响对一国政府的信任度、社会稳定气候和信心度。有时，政府会干预货币市场，以防止货币显着偏离不理想的水平。货币市场的干预由中央银行执行，通常对外汇市场产生显着却又暂时的影响。中央银行可以采取以另一国货币单方面购入/卖出本国货币，或者联合其它中央银行进行共同干预，以期取得更为显着的效果。或者，有些国家能够设法仅仅通过发出干预暗示或威胁来达到影响币值变化的目的。<br>
                                    <br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">通常影响外汇市场的主要因素</strong>
                                        一、经济要素（各个国家发表的经济指标），通常能够直接影响该国货币的经济指标有该国央行公布的利率、该国政府公布的就业报告、国内生产总值、贸易赤字、财政赤字、经常帐、国际资本流动、零售销售、生产者物价指数、消费者信心指数等等。
                                        <br/>
                                            二、政治稳定程度，当今社会，政治与经济密不可分。一国的政局不稳定，会导致投资者对该国的经济失去信心，从而影响该国的货币汇率，甚至该国的周边国家和与该国有密切经济、政治联系的国家货币汇率随之波动。政治风险从具体形式来看，主要有：大选、战争、政变、边界冲突等。<br/>
                                                三、中央银行干预对外汇市场的影响，目前国际社会中实行的浮动汇率制并不是一种彻底的浮动汇率制，而是一种有管理的浮动汇率制。中央银行不仅通过间接的方法如货币政策进行干预，还经常在外汇市场异常波动时直接干预外汇市场。
                                                <br/>
                                                    四、新闻媒体对外汇市场汇率的影响，新闻媒体在当今社会中的影响至关重要，投资者往往根据新闻媒体所播报的经济新闻来决定其是否买入或卖出某种外汇，供求关系发生变动从而影响汇率的变动。
                                                    <br/>
                                                        五、市场心理预期，人的心理状态对外汇市场起着至关重要的作用。例如，1989年日本爆发股市丑闻波及政局，人们对日本经济前景十分忧虑。导致外汇交易者大量地抛售日元、收购美元。
                                                        <br>
                                    <br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">技术面分析</strong>
                                           技术分析研究是借助心理学、统计学等学科的研究方法和手段，通过对以往价格和交易量数据，进而预测未来的价格走向。此类型分析侧重于图表与公式的构成，以捕获主要和次要的趋势，并通过估测市场周期长短，识别买入或卖出机会。根据选择的时间跨度，可以使用日内（分钟、每小时，四小时）技术分析，也可使用每周或每月技术分析。技术分析是透过对图形技术形态指标的记录，研究市场过去和现在的市场反应，推断未来价格的走向，与基本分析相比技术分析更侧重于研究对象的市场自身特点，而不考虑市场外部比如经济环境、政策背景等。依据的技术指标的主要内容是由价格、成交量或涨跌指数等数据计算而得的。
                                           <br/>
                                                  技术指标由于其设计上更贴近市场，对价格变化的短期波动比较敏感，所以对短期投资的指导意义比较大。投资者将技术指标应用于长期分析时，其结果可以说是“仁者见仁、智者见智”，很难达成统一意见。对一种图形可以有多种解释，所以技术分析对中短线投资的指导意义比较大，对长线投资指导意义不大。两者结合，用基本分析确定方向，用技术分析确定买卖点，其准确率才能有效提高。
                                                  <br/>
                                                         选择几种擅长的技术指标，但是技术指标多了反而无益，选择几种重要指标仔细研究，掌握规律，多种指标综合研判。每种指标都有优缺点，扬长避短结合判断，会极大的提高准确率。要注意的是任何技术分析方法都不是万能的，其成功率都是以概率形式出现的。而且每种技术分析方法都有假设条件，使用场合和时机以及对反映的市场状况都有所不同。例如：波浪理论有效性在周线图最高，分时图中就差的多；移动平均线对价格的反应往往比较滞后，预测短期价格走势有效性极差，但是可以利用它来判断对价格的助长助跌；KDJ、RSI指标在波动不大时，有效性比较高，但如果出现连续性上涨或下跌，指标将出现钝化，预测效果就比较差。
                                                         <br/>
                                                                技术分析再好也是客观事物，其主宰者还是交易者自身，单存依靠技术分析只能是一条腿走路。技术分析是预测科学，不应将它万能化，也不应否定它的作用，这也是对待任何预测科学的态度。在剧烈波动的外汇投资市场中，对于普通投资者来说，在投资过程中保持正确的投资理念和良好的操作心态往往比技术分析更为重要。
                                        
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
