<include file="top" />

<section class="yjbg_bg animsition" >
    <div class="container1">
        <div class="row">
            <div class="met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header title1"><b>研究报告</b></div>
                    
                    <div class="desc1 lazyload clearfix">
                        <div>
                            <div>
			
                                <p class="desc1main">
                                <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 昨日市场摘要 】</strong>
                                    美元兑一篮子主要货币周一留守在逾一周最低水平附近，因一些持有美元多头的投资人在年底前获利了结，而加元跟随油价走低。<br>不过整体市场交投淡静，澳洲和伦敦市场因当地假期休市，欧洲主要交易室关门，或只有少数人员值班。<br/>
                                    看涨美元是市场今年的主要题材，市场认为预料中的美国联邦储备理事会<br/>
                                    加息和外国央行放宽货币政策将提振美元的吸引力。但分析师指出，鉴于美联储下次加息时机没有任何新的线索，美元将继续窄幅交投，除非美联储发出更为强硬或更为鹰派的信号。<br/>美元指数最新下跌0.07%，报97.917，在早盘触及12月16日来最低97.811。欧元兑美元最新小升0.05%，报1.0967美元。<br/>
                                   美元兑日圆最新上涨0.09%，报120.39日圆。较之日圆，投资人今年较青睐美元。美元兑日圆本年迄今上涨约0.6%，因日本央行是放宽货币政策的主要央行之一。<br/>
                                   加元兑美元下跌，因油价下挫。加元对油价的走势反应敏感，因加拿大是主要原油出口国之一。美元兑加元最新上涨0.54%，报1.3903加元。
                                    <br>
                                    金价周一跟随油价走低，回吐上周录得的部分涨幅，但在上周五因圣诞假期休市后，今日成交清淡，陷于区间内。
                                    <br/>
                                    金价上周上扬近1%，但本季度仍可能连跌第六季，创1970年代中以来最长季度跌幅。今年迄今下跌近
                                    <br/>
                                   分析师表示，不论从技术面或是基本面来看，金价目前的处境都很糟，预计在进入2016年一段时间后这种局面才可能有所缓解。<br/>
                                   一市场人士进一步指出，明年金价是否会反弹的问题，并不取决于美国联邦储备理事会(FED)是否会升息，而是取决于美联储是否是唯一升息的央行。
                                   <br/>
                                   <br/>
                                    <img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 欧元美元走势短评 】</strong>
                                            ●日线走势分析：由于欧元美元趋势型态呈现上行基调，加上技术指标格局偏强，估计未来应有持续推高的机会。下档支撑暂时先看1.079水平，只有当欧元美元再度回落至1.064水平下方以后走势才有转弱的压力。<br/>
                                            ●分时走势分析：由于在1.089及1.085附近存有明显支撑，因此在前述水平没有获得有效跌破之前估计未来应会进一步朝向1.105及1.109等处推进。
                                            <br>
                                    <br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 英镑美元走势短评 】</strong>
                                        ●日线走势分析：由于英镑美元趋势型态呈现下行基调，加上技术指标格局偏弱，估计未来应有持续推低的压力。上档阻力暂时先看1.513水平，只有当英镑美元再度回稳至1.524水平上方以后走势才有转强的机会。
                                        <br/>
                                            ●分时走势分析：由于在1.496及1.500附近存有明显反压，因此在前述水平没有获得有效突破之前估计未来应会进一步朝向1.480及1.476等处推进。<br/>
                                                ●今日走势预估：阻力分别落在1.492及1.496等处，目标则先看1.484及1.480水平。
                                               售日元、收购美元。
                                                        <br>
                                    <br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 澳元美元走势短评 】</strong>
                                           ●日线走势分析：由于澳元美元趋势型态呈现上行基调，加上技术指标格局偏强，估计未来应有持续推高的机会。下档支撑暂时先看0.710水平，只有当澳元美元再度回落至0.701水平下方以后走势才有转弱的压力。<br>

●分时走势分析：由于在0.719及0.716附近存有明显支撑，因此在前述水平没有获得有效跌破之前估计未来应会进一步朝向0.731及0.734等处推进。<br>

●今日走势预估：支撑分别落在0.722及0.719等处，目标则先看0.728及0.731水平。<br>
<br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 欧元日圆走势短评 】</strong>
                                           ●日线走势分析：由于欧元日圆趋势型态呈现下行基调，加上技术指标格局偏弱，估计未来应有持续推低的压力。上档阻力暂时先看133.8水平，只有当欧元日圆再度回稳至134.6水平上方以后走势才有转强的机会。<br>

●分时走势分析：由于在132.8及133.2附近存有明显反压，因此在前述水平没有获得有效突破之前估计未来应会进一步朝向131.2及130.8等处推进。<br>

●今日走势预估：阻力分别落在132.4及132.8等处，目标则先看131.6及131.2水平。
<br>
<br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 英镑日圆走势短评 】</strong>
                                          ●日线走势分析：由于英镑日圆趋势型态呈现下行基调，加上技术指标格局偏弱，估计未来应有持续推低的压力。上档阻力暂时先看181.9水平，只有当英镑日圆再度回稳至183.9水平上方以后走势才有转强的机会。<br>

●分时走势分析：由于在180.1及180.6附近存有明显反压，因此在前述水平没有获得有效突破之前估计未来应会进一步朝向178.1及177.6等处推进。<br>

●今日走势预估：阻力分别落在179.6及180.1等处，目标则先看178.6及178.1水平。
<br>
<br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 美元瑞郎走势短评 】</strong>
                                          ●日线走势分析：由于美元瑞郎趋势型态呈现下行基调，加上技术指标格局偏弱，估计未来应有持续推低的压力。上档阻力暂时先看1.004水平，只有当美元瑞郎再度回稳至1.022水平上方以后走势才有转强的机会。<br>

●分时走势分析：由于在0.994及0.997附近存有明显反压，因此在前述水平没有获得有效突破之前估计未来应会进一步朝向0.982及0.979等处推进。<br>

●今日走势预估：阻力分别落在0.991及0.994等处，目标则先看0.985及0.982水平。
<br>
<br><img src="/Public/Home/images/icon13.png"><strong
                                    class="title1style">【 美元加元走势短评 】</strong>
                                          ●日线走势分析：由于美元加元趋势型态呈现上行基调，加上技术指标格局偏强，估计未来应有持续推高的机会。下档支撑暂时先看1.367水平，只有当美元加元再度回落至1.350水平下方以后走势才有转弱的压力。<br>

●分时走势分析：由于在1.380及1.375附近存有明显支撑，因此在前述水平没有获得有效跌破之前估计未来应会进一步朝向1.400及1.405等处推进。<br>

●今日走势预估：支撑分别落在1.385及1.380等处，目标则先看1.395及1.400水平。<br>
                                           
                                        
                                </p>
                                
                                </div>
                            <div id="minfo_additional"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
