<include file="Index/header" />
<form style="width:90%;text-align: center">
    <table>
        <input type="hidden" name="id" value="{$info.id}" />

        <tr>
            <td align="right" height="40px"><label>排序：</label></td>
            <td align="left"><input name="display_order" value="{$info.display_order}" class="input-text radius" placeholder="输入排序默认100" style="width:200px;height: 30px"></td>
        </tr>

        <tr>
            <td align="right" height="40px"><label>标题：</label></td>
            <td align="left">
                <textarea name="title" style="width: 300px; height: 50px">{$info.title}</textarea>
        </td>
        </tr>

    </table>
</form>
<include file="Index/foot" />
<script>
    KindEditor.ready(function(K) {
        var uploadbutton = K.uploadbutton({
            button : K('#uploadButton')[0],
            fieldName : 'image',
            url : '__URL__/upload',
            afterUpload : function(data) {
                //console.log(data)
                data= eval(data);
                if (data.status == 1) {
                    K('#url').val(data.msg);
                    var img = '__APP__/../'+data.msg;
                    $('#show_image').attr('src',img);
                    $('#show_image').css('display','');
                } else {
                    alert(data.msg);
                }
            }
        });
        uploadbutton.fileBox.change(function(e) {
            uploadbutton.submit();
        });
    });
</script>

<script>
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            resizeType: 1,width:"80%",height:"280px",
            allowPreviewEmoticons: false,
            allowImageUpload: true,
            items: [
                'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                'table', 'hr',  'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink'
            ],
            afterBlur: function () {
                this.sync();
            }
        });
    });

    function getcontent(){
        var content = editor.html();
        $('#inscontent').val(content);
    }
</script>
