<include file="Index/top" />

<script>
    $(function () {
        $(".menu-item-cont").each(function (e) {
            $(".icon-fold-gg").eq(e).click(function () {
                if ($(".menu-item-cont").eq(e).css("display") == "none") {
                    $(".menu-item-cont").eq(e).show();
                    $(".icon-fold-gg").removeClass("jiajian");


                    /*   $(".zk").eq(e).text("{$lang.hide}")*/;
                } else {
                    $(".icon-fold-gg").removeClass("jiajian");
                    $(this).addClass("jiajian");

                    $(".menu-item-cont").eq(e).hide();

                }

            });
        });
    });
</script>
<div class="container clear-float main con_top">
    <div class="setting-leftmenu fl">
        <div class="menu-head-one">{$lang.userHome}</div>
        <div class="menu-c">
            <div class="icon-fold-gg"></div>
            <div class="menu-title">{$lang.userInfo}</div>
            <div class="menu-item-cont">
                <a href="__URL__/index" class="menu-item ">{$lang.user_info}</a>
            </div>
        </div>
        <div class="menu-c">
            <div class="icon-fold-gg"></div>
            <div class="menu-title">{$lang.anquan_moeny}</div>
            <div class="menu-item-cont">
                <a href="__URL__/setting_security" class="menu-item active">{$lang.anquan_setting}</a>
            </div>
        </div>
        <div class="menu-c">
            <div class="icon-fold-gg"></div>
            <div class="menu-title">审核</div>
            <div class="menu-item-cont">
                <a href="__URL__/setting_verify" class="menu-item ">{$lang.authentication}</a>
                <a href="__URL__/setting_verify_money" class="menu-item ">资金验证</a>
                <a href="__URL__/edit_google" class="menu-item ">google验证</a>
            </div>
        </div>
        <div class="menu-c bt">
            <div class="icon-fold-gg"></div>
            <div class="menu-title">{$lang.is_trusted}</div>
            <div class="menu-item-cont">
                <a href="__URL__/setting_trusted/type/1" class="menu-item ">{$lang.trustYou}</a>
                <a href="__URL__/setting_trusted/type/2" class="menu-item ">{$lang.youTrust}</a>
                <a href="__URL__/setting_trusted/type/3" class="menu-item ">{$lang.untrust}</a>
            </div>
        </div>
    </div>


    <div class="fr">
        <div class="setting-title">{$lang.anquan_setting}&gt;{$lang.mobile}</div>
        <div class="setting-panel">

            <div class="setting-flow clear-float step3">
                <span class="flow-line"><span class="flow-line-active"></span></span>
                <span class="flow-item no-margin"><span class="flow-point finish">1</span><div class="flow-decs">验证旧手机</div></span>
                <span class="flow-item"><span class="flow-point">2</span><div class="flow-decs">验证新号码</div></span>
                <span class="flow-item"><span class="flow-point">3</span><div class="flow-decs">完成</div></span>
            </div>
            <div class="get-old-sms">
                <div>修改手机号，24小时内限制提币和卖币。</div>
                <div>一个手机号只能绑定一个账号。更换手机号后，下次登录可使用新手机号登录。</div>
                <a href="javascript:;" class="btn-phone submit" id="getOldSmsCode">验证原手机号</a>
            </div>
            <div class="form-cont" id="step1">
                <div class="step1-2" style="display: none">
                    <div class="get-old-sms" style="margin-top: 20px;">验证码已发送至手机 <span class="phone_number"></span></div>
                    <div class="input-cont">
                        <span class="icon form-token"></span>
                        <input class="input" validate="" check-type="one_time_code" type="text" name="old_one_time_code" placeholder="请输入验证码">
                        <a class="link get-token old">{$lang.send_code}</a>
                    </div>
                    <a id="changeNext" class="btn submit disable">{$lang.next}</a>
                </div>
            </div>
            <div class="form-cont" id="step2" style="display: none;">
                <div class="input-cont">
                    <span class="icon form-location"></span>
                    <select class="select" searchable="" name="country_code" style="display: none;">

                        <option value="244">244 安哥拉</option>

                        <option value="93">93 阿富汗</option>

                        <option value="355">355 阿尔巴尼亚</option>

                        <option value="213">213 阿尔及利亚</option>

                        <option value="376">376 安道尔共和国</option>

                        <option value="1264">1264 安圭拉岛</option>

                        <option value="1268">1268 安提瓜和巴布达</option>

                        <option value="54">54 阿根廷</option>

                        <option value="374">374 亚美尼亚</option>

                        <option value="247">247 阿森松</option>

                        <option value="61">61 澳大利亚</option>

                        <option value="43">43 奥地利</option>

                        <option value="994">994 阿塞拜疆</option>

                        <option value="1242">1242 巴哈马</option>

                        <option value="973">973 巴林</option>

                        <option value="880">880 孟加拉国</option>

                        <option value="1246">1246 巴巴多斯</option>

                        <option value="375">375 白俄罗斯</option>

                        <option value="32">32 比利时</option>

                        <option value="501">501 伯利兹</option>

                        <option value="229">229 贝宁</option>

                        <option value="1441">1441 百慕大群岛</option>

                        <option value="591">591 玻利维亚</option>

                        <option value="267">267 博茨瓦纳</option>

                        <option value="55">55 巴西</option>

                        <option value="673">673 文莱</option>

                        <option value="359">359 保加利亚</option>

                        <option value="226">226 布基纳法索</option>

                        <option value="95">95 缅甸</option>

                        <option value="257">257 布隆迪</option>

                        <option value="237">237 喀麦隆</option>

                        <option value="1">1 加拿大</option>

                        <option value="1345">1345 开曼群岛</option>

                        <option value="236">236 中非共和国</option>

                        <option value="235">235 乍得</option>

                        <option value="56">56 智利</option>

                        <option selected="" value="86">86 中国</option>

                        <option value="57">57 哥伦比亚</option>

                        <option value="242">242 刚果</option>

                        <option value="682">682 库克群岛</option>

                        <option value="506">506 哥斯达黎加</option>

                        <option value="53">53 古巴</option>

                        <option value="357">357 塞浦路斯</option>

                        <option value="420">420 捷克</option>

                        <option value="45">45 丹麦</option>

                        <option value="253">253 吉布提</option>

                        <option value="1890">1890 多米尼加共和国</option>

                        <option value="593">593 厄瓜多尔</option>

                        <option value="20">20 埃及</option>

                        <option value="503">503 萨尔瓦多</option>

                        <option value="372">372 爱沙尼亚</option>

                        <option value="251">251 埃塞俄比亚</option>

                        <option value="679">679 斐济</option>

                        <option value="358">358 芬兰</option>

                        <option value="33">33 法国</option>

                        <option value="594">594 法属圭亚那</option>

                        <option value="241">241 加蓬</option>

                        <option value="220">220 冈比亚</option>

                        <option value="995">995 格鲁吉亚</option>

                        <option value="49">49 德国</option>

                        <option value="233">233 加纳</option>

                        <option value="350">350 直布罗陀</option>

                        <option value="30">30 希腊</option>

                        <option value="1809">1809 格林纳达</option>

                        <option value="1671">1671 关岛</option>

                        <option value="502">502 危地马拉</option>

                        <option value="224">224 几内亚</option>

                        <option value="592">592 圭亚那</option>

                        <option value="509">509 海地</option>

                        <option value="504">504 洪都拉斯</option>

                        <option value="852">852 中国香港</option>

                        <option value="36">36 匈牙利</option>

                        <option value="354">354 冰岛</option>

                        <option value="91">91 印度</option>

                        <option value="62">62 印度尼西亚</option>

                        <option value="98">98 伊朗</option>

                        <option value="964">964 伊拉克</option>

                        <option value="353">353 爱尔兰</option>

                        <option value="972">972 以色列</option>

                        <option value="39">39 意大利</option>

                        <option value="225">225 科特迪瓦</option>

                        <option value="1876">1876 牙买加</option>

                        <option value="81">81 日本</option>

                        <option value="962">962 约旦</option>

                        <option value="855">855 柬埔寨</option>

                        <option value="327">327 哈萨克斯坦</option>

                        <option value="254">254 肯尼亚</option>

                        <option value="82">82 韩国</option>

                        <option value="965">965 科威特</option>

                        <option value="331">331 吉尔吉斯坦</option>

                        <option value="856">856 老挝</option>

                        <option value="371">371 拉脱维亚</option>

                        <option value="961">961 黎巴嫩</option>

                        <option value="266">266 莱索托</option>

                        <option value="231">231 利比里亚</option>

                        <option value="218">218 利比亚</option>

                        <option value="423">423 列支敦士登</option>

                        <option value="370">370 立陶宛</option>

                        <option value="352">352 卢森堡</option>

                        <option value="853">853 中国澳门</option>

                        <option value="261">261 马达加斯加</option>

                        <option value="265">265 马拉维</option>

                        <option value="60">60 马来西亚</option>

                        <option value="960">960 马尔代夫</option>

                        <option value="223">223 马里</option>

                        <option value="356">356 马耳他</option>

                        <option value="1670">1670 马里亚那群岛</option>

                        <option value="596">596 马提尼克</option>

                        <option value="230">230 毛里求斯</option>

                        <option value="52">52 墨西哥</option>

                        <option value="373">373 摩尔多瓦</option>

                        <option value="377">377 摩纳哥</option>

                        <option value="976">976 蒙古</option>

                        <option value="1664">1664 蒙特塞拉特岛</option>

                        <option value="212">212 摩洛哥</option>

                        <option value="258">258 莫桑比克</option>

                        <option value="264">264 纳米比亚</option>

                        <option value="674">674 瑙鲁</option>

                        <option value="977">977 尼泊尔</option>

                        <option value="599">599 荷属安的列斯</option>

                        <option value="31">31 荷兰</option>

                        <option value="64">64 新西兰</option>

                        <option value="505">505 尼加拉瓜</option>

                        <option value="227">227 尼日尔</option>

                        <option value="234">234 尼日利亚</option>

                        <option value="850">850 朝鲜</option>

                        <option value="47">47 挪威</option>

                        <option value="968">968 阿曼</option>

                        <option value="92">92 巴基斯坦</option>

                        <option value="507">507 巴拿马</option>

                        <option value="675">675 巴布亚新几内亚</option>

                        <option value="595">595 巴拉圭</option>

                        <option value="51">51 秘鲁</option>

                        <option value="63">63 菲律宾</option>

                        <option value="48">48 波兰</option>

                        <option value="689">689 法属玻利尼西亚</option>

                        <option value="351">351 葡萄牙</option>

                        <option value="1787">1787 波多黎各</option>

                        <option value="974">974 卡塔尔</option>

                        <option value="262">262 留尼旺</option>

                        <option value="40">40 罗马尼亚</option>

                        <option value="7">7 俄罗斯</option>

                        <option value="1758">1758 圣卢西亚</option>

                        <option value="1784">1784 圣文森特岛</option>

                        <option value="684">684 东萨摩亚(美)</option>

                        <option value="685">685 西萨摩亚</option>

                        <option value="378">378 圣马力诺</option>

                        <option value="239">239 圣多美和普林西比</option>

                        <option value="966">966 沙特阿拉伯</option>

                        <option value="221">221 塞内加尔</option>

                        <option value="248">248 塞舌尔</option>

                        <option value="232">232 塞拉利昂</option>

                        <option value="65">65 新加坡</option>

                        <option value="421">421 斯洛伐克</option>

                        <option value="386">386 斯洛文尼亚</option>

                        <option value="677">677 所罗门群岛</option>

                        <option value="252">252 索马里</option>

                        <option value="27">27 南非</option>

                        <option value="34">34 西班牙</option>

                        <option value="94">94 斯里兰卡</option>

                        <option value="1758">1758 圣卢西亚</option>

                        <option value="1784">1784 圣文森特</option>

                        <option value="249">249 苏丹</option>

                        <option value="597">597 苏里南</option>

                        <option value="268">268 斯威士兰</option>

                        <option value="46">46 瑞典</option>

                        <option value="41">41 瑞士</option>

                        <option value="963">963 叙利亚</option>

                        <option value="886">886 中国台湾</option>

                        <option value="992">992 塔吉克斯坦</option>

                        <option value="255">255 坦桑尼亚</option>

                        <option value="66">66 泰国</option>

                        <option value="228">228 多哥</option>

                        <option value="676">676 汤加</option>

                        <option value="1809">1809 特立尼达和多巴哥</option>

                        <option value="216">216 突尼斯</option>

                        <option value="90">90 土耳其</option>

                        <option value="993">993 土库曼斯坦</option>

                        <option value="256">256 乌干达</option>

                        <option value="380">380 乌克兰</option>

                        <option value="971">971 阿拉伯联合酋长国</option>

                        <option value="44">44 英国</option>

                        <option value="1">1 美国</option>

                        <option value="598">598 乌拉圭</option>

                        <option value="233">233 乌兹别克斯坦</option>

                        <option value="58">58 委内瑞拉</option>

                        <option value="84">84 越南</option>

                        <option value="967">967 也门</option>

                        <option value="381">381 南斯拉夫</option>

                        <option value="27">27 南非</option>

                        <option value="263">263 津巴布韦</option>

                        <option value="243">243 扎伊尔</option>

                        <option value="260">260 赞比亚</option>

                    </select><div class="chosen-container chosen-container-single" style="width: 0px;" title=""><a class="chosen-single" tabindex="-1"><span>86 中国</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
                </div>
                <div class="input-cont">
                    <span class="icon form-phone"></span>
                    <input class="input" type="phone" validate="" check-type="phone" name="mobile" placeholder="请输入新手机号码">
                    <div class="form-tips"></div>
                    <div class="error-msg">请输入正确的手机号码</div>
                </div>
                <div class="input-cont">
                    <span class="icon form-token"></span>
                    <input class="input" validate="" check-type="one_time_code" type="text" name="one_time_code" placeholder="请输入验证码">
                    <a class="link get-token change">发送验证码</a>
                </div>
                <a id="changeSubmit" class="btn submit disable">保存</a>
            </div>

        </div>
    </div>

</div>

</body>
<include file="Index/footer"/>