<include file="Index/header" />
<form style="width:90%;text-align: center" >
    <table>

        <tr>
            <td align="right" height="40px"><label>货币：</label></td>
            <td align="left"><input name="name" class="input-text radius" style="width:200px;height:
            30px"></td>
        </tr>
        <tr>
            <td align="right" height="40px"><label>缩写：</label></td>
            <td align="left">
                <input name="sn" class="input-text radius" style="width:200px;height:
            30px">
        </tr>
        <tr>
            <td align="right" height="40px"><label>转出手续费：</label></td>
            <td align="left">
                <input name="service" class="input-text radius" style="width:200px;height:
            30px">
        </tr>
        <tr>
            <td align="right" height="40px"><label>是否设为默认货币：</label></td>
            <td align="left">
                <select name="show" class="level  radius">
                    <option value="0">正常</option>
                    <option value="1">默认货币</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<include file="Index/foot" />
